@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Navbar code starts here */
nav {
  height: 100px;
  background-color: #040406;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 410px 0px 450px;
  margin: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  padding: 20px 0px 20px 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
}

nav li {
  float: left;
}

nav li,
i {
  background: none;
}

nav li a,
.dropbtn {
  display: inline-block;
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
  color: #fff;
}

li.dropdown {
  display: inline-block;
  background: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #828282;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  text-transform: capitalize;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #545454;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Navbar code ends here */

.search{
  padding: 5px 20px 5px 0px;
  float: right;
}
.search-field{
  padding: 5px;
  width: 300px;
  border-color: #0a0a0a;
  background-color: transparent;
  color:#fff;
  border-radius: 10px;
}

input.search-field:focus{
  background: none;
  resize: none;
  background-color: transparent;
  outline: none;
}

.section-below-slider{
  padding-top: 80px;
  text-align: center;
  color: #b8b8b8;
  text-transform: capitalize;
}

.new-arrivals {
  display: flex;
  flex-direction: row;
  background-color: #141414;
  justify-content: center;
}


.new-arrivals > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}