@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  background-color: #1f1f1f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

/* Navbar code starts here */
nav {
  height: 100px;
  background-color: #040406;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 410px 0px 450px;
  margin: auto;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  padding: 20px 0px 20px 0px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: none;
}

nav li {
  float: left;
}

nav li,
i {
  background: none;
}

nav li a,
.dropbtn {
  display: inline-block;
  color: #b8b8b8;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
}

nav li a:hover,
.dropdown:hover .dropbtn {
  color: #fff;
}

li.dropdown {
  display: inline-block;
  background: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #828282;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu a {
  color: black;
  text-transform: capitalize;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu a:hover {
  background-color: #545454;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* Navbar code ends here */
.slider{
  position: relative;
  line-height: 0px;

}
.search{
  float: right;
  position: absolute;
  bottom: 580px;
  padding-left: 1150px;
  background: none;
}

.search-icon{
  background: none;
  font-size: 22px;
  color:#545454;
}


.search-field{
  padding: 5px;
  width: 300px;
  border-color:#545454;
  background-color: transparent;
  color:#000;
  border-radius: 10px;
}

input.search-field:focus{
  background: none;
  resize: none;
  background-color: transparent;
  outline: none;
}

.section-below-slider{
  background-color: #171717;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: #b8b8b8;
  font-size: 30px;
  text-transform: capitalize;
}

.section-below-slider button{
  border: 3px solid #040406;
  background: transparent;
  border-radius: 20px;
  cursor: pointer;
  color: #828282;
  width: 350px;
  height: 350px;
  font-size: 30px;
  padding: 50px;
}

.section-below-slider button:hover{
  background-color: #040406;
  transition: all 0.5s ease-in-out;
}

.featured-text{
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  color: #b8b8b8;
  text-transform: capitalize;
}

.featured-clothes {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-row-gap: 20px;
  padding: 10px;
  background-color: none;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: #b8b8b8;
  padding: 50px 50px;
}

.featured-clothes div{
  float: left;
  margin-left: 20px;
  background-color: #171717;
  line-height: 30px;
  padding: 8px;
}

.featured-clothes div button{
  background: none;
  border: none;
  cursor: pointer;

}



